{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
        <div class="card">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <p>Хотите удалить блог "{{ object.title }}"?</p>
                <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Подтвердить</button>
                <a href="{% url 'catalog:view_blog' %}" class="btn btn-lg btn-block btn-outline-warning">Отмена</a>
              </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}