{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="row text-center">
    {% for object in object_list %}
        <div class="col-3">
             <img class="card-img-top" src="{{ object.preview|mymedia }}">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" >{{ object.name|title }}</h4>
                </div>
                <div class="card-body">
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:detail_product' object.pk %}">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}